body{
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at center, #000, #111);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 800px;
}

.dot{
    width: 5px;
    height: 5px;
    background: #00f0ff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.globe{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from { transform: rotateY(0deg)}
    to { transform: rotateY(360deg)}
}